<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Pi Camera</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h2>Camera Control</h2>
        </div>
        <div class="main">
            <div>
                <button onclick="take_picture()">사진 찍기!</button>
            </div>
        </div>
        <div id="result">

        </div>
    </div>
    <script>
        function take_picture(){
            fetch("/picture")
            .then(response=> { console.log(response); return response.text()})
            .then(data=> {
                console.log(data);
                let result = document.querySelector("#result");
                if(data=="ok"){
                    var date = new Date();
                    result.innerHTML = `<img src='static/cam.jpg?${date.getTime()}' alt='flower'>`;
                }else{
                    result.innerHTML = "<h1>error</h1>";
                }
            });
        }
    </script>
</body>
</html>
